body 
{
	background-color: #81b0ef
}

{
	font-family: "Helvetica"; 
	font-size 24px;
}

.box {
	background: #eaeaea;
	display: flex;
	align-items: center;
	flex-basis: 17%;
	height: 150px;
}

.box-1 {
	border: 4px solid blue;
}

.box-2 {
	border: 4px dashed red;
}

.article {
	padding: 1em;
}

.indent {
	text-indent: 33.33%;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

#animate-area	{ 
	width: 560px; 
	height: 400px; 
	background-image: url(bg-clouds.png);
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: animatedBackground 40s linear infinite;
}